nav {
    height: 40px;
    background-color: blue;
    display: flex;
}

nav > a {
    font-family: "Comic Sans MS", "sans-serif";
    font-size: 24px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    text-decoration: none;
}

nav * img {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-top: 3px;
}