nav {
    height: 40px;
    background-color: rgb(71, 71, 71);
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 21px -3px #000000;
}

nav > a {
    font-family: "Comic Sans MS", "sans-serif";
    font-size: 24px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    text-decoration: none;
}

nav * img {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-top: 3px;
}

body {
    background-color: rgb(45,45,45);
}

.filler {
    position: absolute;
    top: 60px;
    bottom: 9px;
    left: 9px;
    right: 9px;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
    box-shadow: 5px 5px 21px -3px #000000;
}