nav {
    height: 40px;
    background-color: rgb(71, 71, 71);
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 21px -3px #000000;
}

nav > a {
    font-family: "Comic Sans MS", "sans-serif";
    font-size: 24px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    text-decoration: none;
}

nav * img {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-top: 3px;
}

body {
    background-color: rgb(45,45,45);
}

.filler {
    position: absolute;
    top: 60px;
    bottom: 9px;
    left: 9px;
    right: 9px;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
    box-shadow: 5px 5px 21px -3px #000000;
}

.yeartext {
    font-family: "Comic Sans MS", "sans-serif";
    color: white;
    padding-left: 10px;
}

.about {
    height:50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 9px;
    left: 9px;
    right: 9px;
    background: rgb(63, 63, 63);
    border-radius: 0px 0px 10px 10px;
}

.socials {
    margin-left: auto;
    padding-bottom: 10px;
    padding-right: 10px;
}
.soclink > img {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}